<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <title>Crediti - Profiel student aanmaken</title>

</head>

<body class="bg">
<div id="page-container">
    <div id="content-wrap">
        <header th:insert="fragments/general.html :: header">
        </header>

        <main role="main" class="container">
            <div class="mt-5 mb-5 jumbotron">
                <h1>Profiel</h1>
                <p class="lead">Het is de eerste keer dat je inlogt. We hebben wat extra informatie nodig en dan kan je
                    van start gaan.</p>

                <form th:action="@{/createstudentprofile}" method="POST">
                    <div class="form-group">

                        <div class="col-md-5">
                            <label for="gsm">Gsm-nummer:</label>
                            <input maxlength="10" type="tel" class="form-control" name="gsm" id="gsm" pattern="([(+]*[0-9]+[()+. -]*)" title="Er zijn geen speciale tekens of letters toegelaten" required>
                        </div>

                        <div class="col-md-5 pt-3">
                            <label for="zap">ZAP en/of Mobility?:</label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="zap" name="zap">
                                <label class="custom-control-label" for="zap">Zap</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="mobility" name="mobility">
                                <label class="custom-control-label" for="mobility">Mobility</label>
                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary btn-lg">Profiel aanmaken</button>
                    </div>
                </form>

            </div>

        </main>
    </div>
    <!-- /.container -->
    <footer th:insert="fragments/general.html :: footer">
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>