<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Profiel student aanmaken</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header th:insert="fragments/general.html :: header"></header>
<div class="container">
    <h2 class="extra">Profiel</h2>
    <p>Het is de eerste keer dat je inlogt. We hebben wat extra informatie nodig en dan kan je van start gaan.</p>
    <form th:action="@{/createstudentprofile}" method="POST">
        <label for="gsm">GSM-nummer: </label>
        <input type="text" name="gsm" id="gsm" required/>
        <br><br>
        <label>ZAP of Mobility?: </label>
        <div>
            <input type="checkbox" name="zap" value="Zap">ZAP<br>
            <input type="checkbox" name="mobility" value="Mobility">Mobility<br>
        </div>
        <br>
        <br/>
        <label></label>
        <input type="SUBMIT" class="button" value="Profiel aanmaken">
    </form>
</div>
<footer th:insert="fragments/general.html :: footer"></footer>
</body>
</html>