<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Student detail</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>

<body class="background" onload="tableFill()">
<header th:insert="fragments/generalMenu_old.html :: header (name=${name})"></header>
<div class="block">
    <section class="find-edu">
        <div class="container ">
            <div class="wrap-all col-xs-12 ">
                <h2 class="extra">Detail student</h2>
                <form th:each="a: ${student}" class="standard-form" method="post"
                      th:action="@{/liststudents/{id}(id=${a.studentNumber})}">
                    <fieldset disabled="disabled" id="assignmentInfo">
                        <label for="nummer">Studenten nummer:</label>
                        <input name="nummer" id="nummer" type="text" th:value="*{a.getStudentNumber()}"
                               required="required"><br>
                        <label for="Naam">Naam:</label>
                        <input name="Naam" id="Naam" type="text" th:value="*{a.getUserId()}" required="required"><br>
                        <label for="Email">Email:</label>
                        <input name="Email" id="Email" th:value="*{a.findEmail()}" type="text" required="required">
                        <a th:href="'mailto:' + ${a.findEmail()}" style="font-size: 40px">📧</a><br>
                        <label for="Gsm">Gsm:</label><br>
                        <input name="Gsm" id="Gsm" type="text" th:value="*{a.getGsm()}" required="required"><br>
                        <label for="amoutnHours">Afgeronde uren:</label><br>
                        <input name="amoutnHours" id="amoutnHours" type="text" th:value="*{a.getAmoutHours()}"
                               required="required"><br>
                        <label>Soort:</label><br>
                        <input th:if="${a.isMobility()}" type="text" value="Mobility">
                        <input th:if="${!a.isMobility()}" type="text" value="Zap">
                    </fieldset>
                </form>
                <form>
                    <h2>Portfolio</h2>
                    <h4>Status</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Fiche nr</th>
                                <th>Fiche naam</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody th:each="a: ${student}">
                            <tr th:each="f : ${status}">
                                <td th:text="${f.getAssignmentId()}"></td>
                                <td th:text="${f.getTitle()}"></td>
                                <td th:text="${f.getStatus()}"></td>
                                <td style="float: right"><a th:href="@{/changestatus/{studentId}/{assignmentId} (studentId=${a.studentNumber}, assignmentId=${f.assignmentId})}" class="button">
                                    Volgende status
                                </a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Documenten</h4>
                    <table id="tablePortfolio">
                        <thead>
                        <tr>
                            <th>Fiche nr</th>
                            <th>Bestandsnaam</th>
                            <th>Type document</th>
                            <th>Status</th>
                            <th style="width: 18%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div id="profilePortfolio">
                            <tr th:each="file : ${files}" class="tablebackground">
                                <td th:text="${file.getAssignmentId()}"></td>
                                <td th:text="${file.getTitle()}"></td>
                                <td th:text="${file.getDocType()}"></td>
                                <td th:text="${file.getStatus()}"></td>
                                <td><a th:href="${file.getDownloadLink()}" class="button">Download</a></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </section>
</div>
<footer th:insert="fragments/generalMenu.html :: footer"></footer>
<script>
    function tableFill() {
        var tbl = document.getElementById('tablePortfolio');
        if (tbl.rows.length == 1) {
            var x = tbl.insertRow(1);
            var cell = x.insertCell(0);
            cell.innerHTML = "Er zijn momenteel geen bestanden geüpload.";
        }
    }
</script>
</body>
</html>