<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <title>Crediti - Student Detail</title>

</head>

<body class="bg" onload="tableFill()">
<div id="page-container">
    <div id="content-wrap">
        <header th:insert="fragments/generalMenu.html :: header">
        </header>
        <main role="main" class="container">
            <div class="mt-5 mb-5 jumbotron">
                <h1>Detail student</h1>
                <form class="standard-form" method="post">
                    <br>
                    <div class="col-md-5 ">
                        <label for="nummer">Studentnummer:</label>
                        <input class="form-control" name="nummer" id="nummer" type="text"
                               th:value="${student.getStudentNumber()}"
                               required="required" disabled><br>
                    </div>
                    <div class="col-md-5 pt-3">
                        <label for="Naam">Naam:</label>
                        <input class="form-control" name="Naam" id="Naam" type="text" th:value="${student.getUserId()}"
                               required="required" disabled><br>
                    </div>
                    <div class="col-md-5 pt-3">

                        <label for="Email">E-mail:</label>
                        <input class="form-control" name="Email" id="Email" th:value="${student.findEmail()}"
                               type="text"
                               required="required" disabled><br>
                    </div>
                    <div class="col-md-5 pt-3">

                        <label for="amoutHours">Aantal uren:</label><br>
                        <input class="form-control" name="amoutHours" id="amoutHours" type="text"
                               th:value="${student.getAmoutHours()}"
                               required="required" disabled><br>
                    </div>
                    <fieldset disabled="disabled" id="studentEdit">
                        <div class="col-md-5 pt-3">

                            <label for="Gsm">Gsm:</label><br>
                            <input class="form-control" name="Gsm" id="Gsm" type="text" th:value="${student.getGsm()}"
                                   required="required" maxlength="10" pattern="([(+]*[0-9]+[()+. -]*)"
                                   oninput="this.setCustomValidity('Er zijn geen speciale tekens toegelaten')"><br>
                        </div>
                        <div class="col-md-5 pt-3">

                            <label for="type">Type:</label>
                            <select class="form-control" name="type" id="type" required>
                                <option th:if="${student.isZap() && student.isMobility()}" selected>Zap en Mobility
                                </option>
                                <option th:if="${student.isZap() && !student.isMobility()}" selected>Zap</option>
                                <option th:if="${!student.isZap() && student.isMobility()}" selected>Mobility</option>
                                <option th:if="${!(student.isZap() && student.isMobility())}">Zap en Mobility</option>
                                <option th:if="${!(student.isZap() && !student.isMobility())}">Zap</option>
                                <option th:if="${!(!student.isZap() && student.isMobility())}">Mobility</option>
                            </select>
                        </div>
                    </fieldset>
                </form>

                <h3 class="pb-4  mt-3 ">Portfolio</h3>
                <h5>Status</h5>
                <div>
                    <table id="table" class="table table-hover table-condensed table-bordered">
                        <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-3" scope="col">Fiche nr</th>
                            <th class="col-3" scope="col">Fiche naam</th>
                            <th class="col-3" scope="col">Status</th>
                            <th class="col-3"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="d-flex" th:each="s : ${status}">
                            <td class="col-3" th:text="${s.getAssignmentId()}"></td>
                            <td class="col-3" th:text="${s.getTitle()}"></td>
                            <td class="col-3" th:text="${s.getStatus()}"></td>
                            <td class="col-3">
                                <a th:href="@{/changestatus/{studentId}/{assignmentId} (studentId=${student.getStudentNumber()}, assignmentId=${s.assignmentId})}"
                                   class="btn btn-primary">
                                    Volgende status
                                </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-primary" role="alert" id="empty"></div>

                <h5>Documenten</h5>
                <div>
                    <table id="table2" class="table table-hover table-condensed table-bordered">
                        <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-1" scope="col">Fiche nr</th>
                            <th class="col-4" scope="col">Bestandsnaam</th>
                            <th class="col-2" scope="col">Type document</th>
                            <th class="col-3" scope="col">Status</th>
                            <th class="col-2"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="d-flex" th:each="f : ${files}">
                            <td class="col-1" th:text="${f.getAssignmentId()}"></td>
                            <td class="col-4" th:text="${f.getTitle()}"></td>
                            <td class="col-2" th:text="${f.getDocType()}"></td>
                            <td class="col-3" th:text="${f.getStatus()}"></td>
                            <td class="col-2"><a th:href="${f.getDownloadLink()}" class="btn btn-primary">
                                Download
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
    <!-- /.container -->
    <footer th:insert="fragments/general.html :: footer">
    </footer>
    <!-- Optional JavaScript -->
    <script>
        function tableFill() {
            var tbl = document.getElementById('table');
            if (tbl.rows.length == 1) {
                var para = document.createElement("p");
                var node = document.createTextNode("Leeg");
                para.appendChild(node);
                var element = document.getElementById("empty");
                element.style.visibility = "visible";
                element.appendChild(para);
            }
        }
    </script>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>