<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <title>Crediti - Portfolio</title>
</head>
<body class="bg" onload="tableFill()">
<div id="page-container">
    <div id="content-wrap">
        <header th:insert="fragments/generalMenu.html :: header"></header>
        <main role="main" class="container">
            <div class="mt-5 jumbotron">
                <h1 class="pb-4">Mijn portfolio</h1>
                <a href="/uploadfile"
                   class="btn btn-outline-success mb-3">➕ Bestanden toevoegen</a>
                <div class="table-responsive">
                    <table id="table" class="table table-hover">
                        <thead>
                        <tr class="d-flex">
                            <th class="col-1" scope="col">Nr</th>
                            <th class="col-3" scope="col">Titel</th>
                            <th class="col-2" scope="col">Type document</th>
                            <th class="col-3" scope="col">Status</th>
                            <th class="col-3" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="d-flex" th:each="file : ${files}">
                            <td class="col-1" th:text="${file.getAssignmentId()}"></td>
                            <td class="col-3 overflow" th:text="${file.getTitle()}"></td>
                            <td class="col-2" th:text="${file.getDocType()}"></td>
                            <td class="col-3" th:if="${file.getStatus().getInfo().equalsIgnoreCase('start')}">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                    </div>
                                </div>
                            </td>
                            <td class="col-3" th:if="${file.getStatus().getInfo().equalsIgnoreCase('contract')}">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100" style="width:25%">Contract
                                    </div>
                                </div>
                            </td>
                            <td class="col-3" th:if="${file.getStatus().getInfo().equalsIgnoreCase('portfolio')}">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="50"
                                         aria-valuemin="0" aria-valuemax="100" style="width:50%">Portfolio
                                    </div>
                                </div>
                            </td>
                            <td class="col-3" th:if="${file.getStatus().getInfo().equalsIgnoreCase('bewijsdocument')}">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75"
                                         aria-valuemin="0" aria-valuemax="100" style="width:75%">Bewijsdocument
                                    </div>
                                </div>
                            </td>
                            <td class="col-3" th:if="${file.getStatus().getInfo().equalsIgnoreCase('afgerond')}">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100" style="width:100%">Afgerond
                                    </div>
                                </div>
                            </td>
                            <td class="col-3">
                                <span style="float: right;">
                                <button data-toggle="modal"
                                        data-target="#deleteModal" th:attr="data-id=${file.getFileId()}"
                                        class="btn btn-outline-danger ml-2" role="button">🗑️</button>
                                </span>
                                <span style="float: right;"><a th:href="${file.getDownloadLink()}"
                                                               class="btn btn-outline-secondary">Download</a></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Modal DELETE -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Verwijderen</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Bent u zeker dat u dit document wilt verwijderen?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Sluiten
                                </button>
                                <a class="delete-link" href="">
                                    <button type="button" class="btn btn-danger">Verwijder</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-primary" role="alert" id="empty"></div>
            </div>
        </main>
        <!-- /.container -->
    </div>
    <div th:insert="fragments/general.html :: footer">
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function tableFill() {
        var tbl = document.getElementById('table');
        if (tbl.rows.length === 1) {
            var para = document.createElement("p");
            var node = document.createTextNode("U hebt nog geen bestanden geüpload in uw portfolio.");
            para.appendChild(node);
            var element = document.getElementById("empty");
            element.style.visibility = "visible";
            element.appendChild(para);
        }
    }

    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var recipient = button.data('id');
        var modal = $(this);
        modal.find(".delete-link").attr("href", "/deletefile/" + recipient);
    });
</script>
</body>
</html>