<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Crediti - Upload files</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>

<body>
    <div class="background">
        <header th:insert="fragments/generalMenu_old.html :: header (name=${name})"></header>
        <div class="upload-container">
            <div class="upload-header">
                <h2>Upload files naar mijn portfolio</h2>
            </div>
            <div class="upload-content">
                <div class="multiple-upload">
                    <h3 class="upload-title">Upload bestanden</h3>
                    <form id="multipleUploadForm" name="multipleUploadForm" th:action="@{/uploadfile}" method="POST" enctype="multipart/form-data">
                        <input id="multipleFileUploadInput" type="file" name="files" class="file-input" multiple required/><br>
                        <p>Type documentatie: </p>
                        <select required>
                            <option>Contract</option>
                            <option>Bewijsdocumenten</option>
                            <option>Portfolio</option>
                        </select>
                        <p>Voor opdracht: </p>
                        <select required>
                            <!--TODO via de database generiek de juiste waarden laten binnenkomen-->
                            <option>32</option>
                            <option>36</option>
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="/js/main.js"></script>
    </div>
    <footer th:insert="fragments/generalMenu.html :: footer"></footer>
</body>

</html>