<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Crediti - Student toegekend aan opdracht</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>

<body class="background">
    <header th:insert="fragments/generalMenu_old.html :: header (name=${name})"></header>
    <div class="block">
        <div class="container extra">
            <h2>Gelieve te wachten op validatie van de lector of coördinator.</h2>
        </div>
    </div>
    <div style="height: 65%"></div>
    <footer th:insert="fragments/generalMenu.html :: footer"></footer>
</body>

</html>