@font-face {
    font-family: 'Foco';
    font-style: normal;
    font-weight: normal;
    src: local('Foco'), url('FOCO.woff') format('woff');
}


@font-face {
    font-family: 'Foco Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Foco Bold'), url('FOCOBOLD.woff') format('woff');
}

h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    margin: 0 0 20px;
    font-family: Foco,Helvetica,Arial,sans-serif;
}

.title {
    text-align: center;
    padding-bottom: 0;
}

.block {
    margin-bottom: 20px;
}

::selection {
    background-color: #e60005;
    color: #fff;
}

section {
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
}

.article {
    font-style: normal;
    font-family: Foco,Helvetica,Arial,sans-serif;
    font-weight: 300;
}

table {
    font-family: Foco,Helvetica,Arial,sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffe6e6;
}

.notfirst:hover {
    background-color: #e60005;
    color: white;
}

p {
    font-style: normal;
    font-family: Foco,Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.container {
    padding: 0 35px;
    margin-right: auto;
    margin-left: auto;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left;
    }
}


@media (min-width: 1330px) {
    .container {
        width: 1330px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}
