<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Home</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body>
<div class="background">
    <header th:insert="fragments/general.html :: header">

    </header>
    <div class="block">
        <section class="find-edu">
            <div class="container ">
                <div class="wrap-all col-xs-6">
                    <h2>Welkom bij crediti!</h2>
                    <br/><br/>
                    <p>Crediti is een platform aangeboden door de hogeschool Artesis Plantijn.</p>
                    <p>Dit platform is ontworpen voor studenten Journalistiek en Communicatiemanagement.</p>
                    <br/>
                    <p>Eerste keer op het platform?</p>
                    <p>Registreer je dan snel.</p>

                </div>
            </div>
        </section>
    </div>
</div>
<footer th:insert="fragments/general.html :: footer">
</footer>
</body>
</html>