<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Verificatie</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="block">
    <div class="container ">
        <div class="wrap-all col-xs-12 ">
            <h2 class="extra">Wachtwoord recovery</h2>
            <div th:if="${succes}">
                <div>
                    <td th:text='${succes}'/>
                </div>
            </div>
            <div th:unless="${succes}">
                <div>
                    <td th:text='${fail}'/>
                    <a th:href="@{'/passwordRecovery'}"/>Klik hier om opnieuw te proberen.
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 67%"></div>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>