<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Archief</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="/main">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Opdrachten</span>
                                        <div class="dropdown-content">
                                            <a href="/allassignments">Lopende taken</a>
                                            <a href="/assignment">Taak toevoegen</a>
                                            <a href="/myassignments">Mijn taken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="/tag">Tag toevoegen</a>
                                            <a href="/listAllTags">Lijst van tags</a>
                                            <a href="/archive">Archief</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container ">
    <h2 class="extra">Archief</h2>
</div>
<div class="container">
    <form th:action='@{/archive}' method='POST'>
        <label for='searchbar'>Zoekwaarde: </label>
        <input type='search' class='form-control' name='searchbar' id='searchbar'>
        <input type='SUBMIT' id="zoekKnop" value="Zoek" class="button"/>
        <tr th:each="a : ${tags}">
            <td th:text="${a.getTagName()}"></td>
            <input type="checkbox" name="tag" th:tr='${a.getTagName()}' th:value='${a.getTagId()}'/>
            </td>
            &nbsp;&nbsp;&nbsp;
        </tr>
    </form>
</div>
<div id='overview'>

    <table>
        <thead>
        <tr>
            <th>Nr</th>
            <th>Opdrachtgever</th>
            <th>Type</th>
            <th>Naam</th>
            <th>Begin</th>
            <th>Einde</th>
            <th>Aantal uren</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${assignments}" class="tablebackground">
            <td th:text="${a.getAssignmentId()}"></td>
            <td th:text="${a.getAssignerUser()}"></td>
            <td th:text="${a.getType()}"></td>
            <td th:text="${a.getTitle()}" class="cell"></td>
            <td th:text="${a.getStartDate()}"></td>
            <td th:text="${a.getEnd_date()}"></td>
            <td style="padding-left: 3.8%" th:text="${a.getAmountHours()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div th:if="${persons.totalPages !=1}">
        <ul class="pagination">
            <li th:class="${persons.number == 0} ? disabled">
                <a class="pageLink" th:href="@{/allassignments/(page=${persons.number})}">&laquo;</a>
            </li>
            <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                <a class="pageLink" th:href="@{/allassignments/(page=${page})}" th:text="${page}"></a>
            </li>
            <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                <a class="pageLink" th:href="@{/allassignments/(page=${persons.number + 2})}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>