<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Archief</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header th:insert="fragments/generalMenu.html :: header  (name=${name})">
</header>
<div class="container ">
    <h2 class="extra">Archief</h2>
</div>
<div class="container">
    <form th:action='@{/archive}' method='POST'>
        <label for='searchbar'>Zoekwaarde: </label>
        <input type='search' class='form-control' name='searchbar' id='searchbar'>
        <input type='SUBMIT' id="zoekKnop" value="Zoek" class="button"/>
        <tr th:each="a : ${tags}">
            <input type="checkbox" name="tag" th:tr='${a.getTagName()}' th:value='${a.getTagId()}'/>
            <label th:text="${a.getTagName()}"></label>
        </tr>
    </form>
</div>
<div id='overview'>

    <table>
        <thead>
        <tr>
            <th>Nr</th>
            <th>Opdrachtgever</th>
            <th>Type</th>
            <th>Naam</th>
            <th>Begin</th>
            <th>Einde</th>
            <th>Aantal uren</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${assignments}" class="tablebackground">
            <td th:text="${a.getAssignmentId()}"></td>
            <td th:text="${a.getAssignerUser()}"></td>
            <td th:text="${a.getType()}"></td>
            <td th:text="${a.getTitle()}" class="cell"></td>
            <td th:text="${a.getStartDate()}"></td>
            <td th:text="${a.getEndDate()}"></td>
            <td style="padding-left: 3.8%" th:text="${a.getAmountHours()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div th:if="${persons.totalPages !=1}">
        <ul class="pagination">
            <li th:class="${persons.number == 0} ? disabled">
                <a class="pageLink" th:href="@{/allassignments/(page=${persons.number})}">&laquo;</a>
            </li>
            <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                <a class="pageLink" th:href="@{/allassignments/(page=${page})}" th:text="${page}"></a>
            </li>
            <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                <a class="pageLink" th:href="@{/allassignments/(page=${persons.number + 2})}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<footer th:insert="fragments/generalMenu.html :: footer">
</footer>
</body>
</html>