<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/ap_stylesheet.css}" />

    <title>Mijn opdrachten</title>
</head>
<body>

<div class="block">

    <section class="title">
        <div class="container">
            <h2>Mijn opdrachten</h2>
            <p>Lijst van al uw opdrachten. Klik op een opdracht voor meer informatie.</p>
        </div>
    </section>


    <div class="container">

        <div class="article no-img img-left wrap col-xs-12">
            <div class="txt-wrap col-sm-12 col-xs-12">

<!--                <table>-->
<!--                    <tr>-->
<!--                        <th>ID</th>-->
<!--                        <th>Titel</th>-->
<!--                        <th>Type</th>-->
<!--                    </tr>-->
<!--                    <tr th:each="a : ${assignments}" class = "notfirst">-->
<!--                        <td th:text="${a.getAssignmentId()}"></td>-->
<!--                        <td th:text="${a.getTitle()}"></td>-->
<!--                        <td th:text="${a.getType()}"></td>-->

<!--                    </tr>-->
<!--                </table>-->

                <table>
                    <tr>
                        <th>ID</th>
                        <th>Omschrijving opdracht</th>
                        <th>Begindatum</th>
                        <th>Einddatum</th>
                    </tr>
                    <tr class = "notfirst">
                        <td>1</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                        <td>1-1-2019</td>
                        <td>2-2-2019</td>
                    </tr>
                    <tr class = "notfirst">
                        <td>34</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                        <td>1-1-2019</td>
                        <td>2-2-2019</td>
                    </tr>
                    <tr class = "notfirst">
                        <td>56</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                        <td>1-1-2019</td>
                        <td>2-2-2019</td>
                    </tr>
                    <tr class = "notfirst">
                        <td>124</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                        <td>1-1-2019</td>
                        <td>2-2-2019</td>
                    </tr>
                </table>

            </div>
        </div>


    </div>
</div>


</body>
</html>