<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Opdracht aanmaken</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<!--<div class="background">-->
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="/">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Opdrachten</span>
                                        <div class="dropdown-content">
                                            <a href="/allassignments">Lopende taken</a>
                                            <a href="/assignment">Taak toevoegen</a>
                                            <a href="/myassignments">Mijn taken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="/tag">Tag toevoegen</a>
                                            <a href="">Tag bewerken</a>
                                            <a href="">Archief</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<div class="block">
    <section class="find-edu card">
        <div class="container">
            <div class="wrap-all col-xs-12 ">

                <h2>Invoerformulier voor opdrachtgevers</h2>
                <form th:action='@{/assignment}' method='POST' class="standard-form">

                    <label for="title">Titel:</label>
                    <input name="title" id="title" type="text"><br>

                    <label for="type">Type:</label>
                    <input name="type" id="type" type="text"><br>

                    <label for="task">Omschrijving opdracht:</label>
                    <textarea name="task" id="task" rows="10" cols="30"></textarea><br>

                    <label for="startDate">Begindatum:</label><br>
                    <input name="startDate" id="startDate" type="date"><br>

                    <label for="endDate">Einddatum:</label><br>
                    <input name="endDate" id="endDate" type="date"><br><br>

                    <label for="amountHours">Totaal uur:</label>
                    <input name="amountHours" id="amountHours" type="number"><br>

                    <label for="maxStudents">Aantal studenten:</label>
                    <input name="maxStudents" id="maxStudents" type="number"><br>

                    <table class="tags">
                        <tr>
                            <th>Tags</th>
                        </tr>
                        <tr>
                            <td>
                                <th:block th:each="tag : ${updatetag}">
                                    <input type="checkbox"/>
                                    <label th:text="${tag.getTag_name()}"></label>
                                </th:block>
                            </td>
                        </tr>
                    </table>

                    <br/>
                    <input class="button" type="SUBMIT" value="Opdracht aanmaken">

                </form>
            </div>
        </div>
    </section>
</div>
<!--</div>-->
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<script>
    const numInputs = document.querySelectorAll('input[type=number]')

    numInputs.forEach(function (input) {
        input.addEventListener('change', function (e) {
            if (e.target.value == '') {
                e.target.value = 0
            }
        })
    })
</script>

</body>
</html>