<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Crediti - Profiel aanmaken</title>
    <link rel="stylesheet" th:href="@{/css/APcss2.css}">
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
    <header>
        <div class="nav-main navbackground">
            <div class="container">
                <div class="wrap-all col-xs-12">
                    <div class="left">
                        <a class="logo" href="">
                        <img th:src="@{/images/logo-ap.svg}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="block">
    <div class="container ">
        <div class="wrap-all col-xs-12 ">
        <h2 class="extra">Profiel aanmaken</h2>
        <form th:action='@{/createexternal}' method='POST'>
			<label for="lastname">Naam:</label>
			<input name="lastname" type="text" id="lastname" required><br><br>

			<label for="firstname">Voornaam:</label>
			<input name="firstname" type="text" id="firstname" required><br><br>

			<label for="company">Naam bedrijf:</label>
			<input name="company" type="text" id="company" required><br><br>

			<label for="address">Adres:</label>
			<input name="address" type="text" id="address" required><br><br>

			<label for="postal">Postcode:</label>
			<input name="postal" type="text" id="postal" required><br><br>

			<label for="city">Gemeente:</label>
			<input name="city" type="text" id="city" required><br><br>

            <label for="phone">Telefoonnummer:</label>
            <input name="phone" type="tel" id="phone" required><br><br>

			<label for="email">E-mail:</label>
			<input name="email" type="email" id="email" required><br><br>

			<label for="password">Wachtwoord:</label>
			<input name="password" type="password" id="password" required><br><br>

			<label></label>
			<input value="Registreer" type="SUBMIT" class="button">
		</form>
        </div>
    </div>
</div>
    <footer>
        <div class="footer-bot">
            <div class="container">
                <div class="left col-sm-6 col-xs-12">
                    <p>Ontworpen door studenten Toegepaste Informatica</p>
                </div>
                <div class="right col-sm-6 col-xs-12">
                    <p>© 2019 All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>