<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Crediti</title>
    <link rel="stylesheet" th:href="@{/css/ap.css}">
</head>
<body>
<h1>Invoerformulier voor opdrachtgevers</h1>
<div class="container">
<form>

    <label for="summary">Omschrijving opdracht:</label>
    <textarea name="summary" id="summary" rows="10" cols="30"></textarea><br>


    <label for="start">Begindatum:</label><br>
    <input name="startInput" id="start" type="date"><br>

    <label for="end">Einddatum:</label><br>
    <input name="endInput" id="end" type="date"><br><br>

    <label for="lector">Door lector:</label>
    <input name="lectorInput" id="lector" type="text"><br>

    <label for="responsible">Projectverantwoordelijke:</label>
    <input name="responsibleInput"  id="responsible"type="text"><br>

    <label for="name">Naam bedrijf:</label>
    <input name="nameInput" id="name" type="text"><br>

    <label for="address">Adres:</label>
    <input name="addressInput" id="address" type="text"><br>

    <label for="city">Gemeente:</label>
    <input name="cityInput" id="city" type="text"><br>

    <label for="postal">Postcode:</label>
    <input name="postalInput" id="postal" type="text">

    <p>Tags:</p>

    <div>
        <input type="checkbox" id="firstCheckbox" name="first">
        <label for="firstCheckbox">first</label>
    </div>

    <div>
        <input type="checkbox" id="secondCheckbox" name="second">
        <label for="secondCheckbox">second</label>
    </div>


    <input type="SUBMIT" value="Opdracht aanmaken">

</form>
</div>
</body>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</html>