<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Opdracht aanmaken</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<!--<div class="background">-->
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="/">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Opdrachten</span>
                                        <div class="dropdown-content">
                                            <a href="/allassignments">Lopende taken</a>
                                            <a href="/assignment">Taak toevoegen</a>
                                            <a href="/myassignments">Mijn taken</a>
                                            <a href="">Taak bewerken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="/tag">Tag toevoegen</a>
                                            <a href="">Tag bewerken</a>
                                            <a href="">Archief</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<div class="block">
    <section class="find-edu card">
        <div class="container">
            <div class="wrap-all col-xs-12 ">

                <h2>Detail formulier</h2>
                <form th:action='@{/}' th:each="a : ${assignments}" method='POST' class="standard-form">

                    <label for="title">Titel:</label>
                    <p id="title" th:text="${a.getTitle()}" class="detail"></p>

                    <label for="type">Type:</label>
                    <p id="title" th:text="${a.getType()}"></p>

                    <label for="summary">Omschrijving opdracht:</label>
                    <p id="title" th:text="${a.getTask()}"></p>

                    <label for="start_date">Begindatum:</label>
                    <p id="title" th:text="${a.getStartDate()}"></p>

                    <label for="end_date">Einddatum:</label>
                    <p id="title" th:text="${a.getEndDate()}"></p>

                    <label for="totaal_uur">Totaal uur:</label>
                    <p id="title" th:text="${a.getAmountHours()}"></p>

                    <label for="max_students">Max Studenten:</label>
                    <p id="title" th:text="${a.getMaxStudents()}"></p>

                    <br/>
                    <input class="button" type="SUBMIT" value="Goedkeuren" th:action='@{/goedkeuren}'>
                    <input class="button" type="SUBMIT" value="Afkeuren" th:action='@{/afkeuren}'>

                </form>
            </div>
        </div>
    </section>
</div>
<!--</div>-->
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>