<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Documentatie</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body>
<div class="background">
    <header>
        <div class="nav-main navbackground">
            <div class="container">
                <div class="wrap-all col-xs-12">
                    <div class="left">
                        <a class="logo" href="/main">
                            <img th:src="@{/images/logo-ap.svg}">
                        </a>
                    </div>
                    <div class="right">
                        <div class="region-header-menu">
                            <nav>
                                <ul class="nav">
                                    <li>
                                        <div class="dropdown dropdownleft">
                                            <span>Opdrachten</span>
                                            <div class="dropdown-content">
                                                <a href="/allassignments">Lopende taken</a>
                                                <a href="/assignment">Taak toevoegen</a>
                                                <a href="/myassignments">Mijn taken</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <span>Profiel</span>
                                            <div class="dropdown-content">
                                                <a href="">Mijn profiel</a>
                                                <a href="/portfolio">Mijn portfolio</a>
                                                <a href="">Portfolios</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/documentation">
                                            <span>Documentatie</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <span>Coördinator</span>
                                            <div class="dropdown-content">
                                                <a href="/tag">Tag toevoegen</a>
                                                <a href="/listAllTags">Lijst van tags</a>
                                                <a href="/archive">Archief</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="block">
        <section class="find-edu">
            <div class="container ">
                <div class="wrap-all col-xs-6">
                    <h2 class="extra">Documentatie</h2>
                </div>
                <div>
                    <a href="/" class="button">Bestanden toevoegen</a>
                </div>
            </div>
        </section>
        <div class="container">
            <table class="smalltable">
                <thead>
                <tr>
                    <th style="padding-left: 1%; width: 5%">Nr</th>
                    <th>Title</th>
                    <th width="18%"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file : ${files}" class="tablebackground">
                    <td th:text="${file.getFileId()}"></td>
                    <td th:text="${file.getTitle()}"></td>
                    <td><a th:href="${file.getDownloadLink()}" class="button">Download</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>