<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UpdateTagForm</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body>
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Opdrachten</span>
                                        <div class="dropdown-content">
                                            <a href="">Lopende taken</a>
                                            <a href="">Taak toevoegen</a>
                                            <a href="">Mijn taken</a>
                                            <a href="">Taak bewerken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="">Tag toevoegen</a>
                                            <a href="">Tag bewerken</a>
                                            <a href="">Archief</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<div class="block background">
    <div class="container ">
        <div class="wrap-all col-xs-12 ">
            <h2 class="extra">Tag aanpassen</h2>
            <form th:each="a: ${tags}" method="POST" class="standard-form">
                <fieldset disabled="disabled" id="externalInfo">
                    <label for='tagName'>Tag: </label>
                    <input id='tagName' type='text' th:value="*{a.getTagName()}" name="tagName" maxlength="50"/>
                    <br/><br>
                    <label for='tagDescription'>Beschrijving: </label>
                    <input id='tagDescription' type='text' th:value="*{a.getTagDescription()}" name="tagDescription"  maxlength="250"/>
                    <br/>
                </fieldset><br>
                <input type="button" value="✏️TAG BEWERKEN" class="button" onclick="toggleForm();">&nbsp;&nbsp;&nbsp;
                <input type="submit" value="💾 AANPASSINGEN BEWAREN" class="button" id="save" style="visibility: hidden;">
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<script>
    function toggleForm() {
        document.getElementById('externalInfo').removeAttribute('disabled');
        document.getElementById("save").style.visibility = "visible";
        ;
    }
</script>
</body>
</html>
