<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link rel='stylesheet' href='https://learning.ap.be/theme/styles.php/apmo/1541596074_1540108392/all'>

<title>List of all assignments</title>
</head>

<body>
	<header>
		<div class="sub-head">
			<div class="container">
			</div>
		</div>
		</header>
	
	
	<div class='card card-body bg-light' id="overview">
		<h1>All assignments</h1>
	</div>
	
	
	<footer id="page-footer" class="p-y-1 bg-inverse">       
		<div class="homelink">© 2019 All rights reserved.</div>
		<div class="homelink"><a href="https://learning.ap.be/">Startpagina</a></div>
	</footer>
</body>
</html>