<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alle opdrachten</title>
    <link rel="stylesheet" th:href="@{/css/APcss2.css}">
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header>
        <div class="nav-main navbackground">
            <div class="container">
                <div class="wrap-all col-xs-12">
                    <div class="left">
                        <a class="logo" href="/">
                            <img th:src="@{/images/logo-ap.svg}">
                        </a>
                    </div>
                    <div class="right">
                        <div class="region-header-menu">
                            <nav>
                                <ul class="nav">
                                    <li>
                                        <div class="dropdown dropdownleft">
                                            <span>Opdrachten</span>
                                            <div class="dropdown-content">
                                                <a href="/assignments">Lopende taken</a>
                                                <a href="/assignment">Taak toevoegen</a>
                                                <a href="/myassignments">Mijn taken</a>
                                                <a href="">Taak bewerken</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <span>Profiel</span>
                                            <div class="dropdown-content">
                                                <a href="">Mijn profiel</a>
                                                <a href="">Mijn portfolio</a>
                                                <a href="">Portfolios</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>Documentatie</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <span>Coördinator</span>
                                            <div class="dropdown-content">
                                                <a href="/tag">Tag toevoegen</a>
                                                <a href="">Tag bewerken</a>
                                                <a href="">Archief</a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </nav>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>


		
		<div class="container ">
			<h2 class = "extra">Alle opdrachten</h2>
        </div>
		<div id='overview'>
			<table>
				<tr>
					<th></th>
					<th>Nr</th>
					<th>Opdrachtgever</th>
					<th>Type</th>
					<th>Taak</th>
					<th>Begin</th>
					<th>Einde</th>
					<th>Gevalideerd</th>
					<th>Volzet</th>
				</tr>
				<tr th:each="a : ${assignments}" class="tablebackground">
					<td><input type="submit" value="Bewerk" class = "button"><br><br><input type="submit" value="Verwijder" class="button"></td>
					<td th:text="${a.getFicheID()}"></td>
					<td th:text="${a.getGiven_by()}"></td>
					<td th:text="${a.getType()}"></td>
					<td th:text="${a.getTask()}" class = "cell"></td>
					<td th:text="${a.getStart_date()}"></td>
					<td th:text="${a.getEnd_date()}"></td>
					<td th:text="${a.getValidated()}"></td>
					<td th:text="${a.getArchived()}"></td>
				</tr>
			</table>
		</div>


		<footer>
			<div class="footer-bot">
				<div class="container">
					<div class="left col-sm-6 col-xs-12">
						<p>Ontworpen door studenten Toegepaste Informatica</p>
					</div>
					<div class="right col-sm-6 col-xs-12">
						<p>© 2019 All rights reserved.</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
	</html>