<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Taken niet gevalideerd</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header th:insert="fragments/generalMenu.html :: header">
</header>
<div class="container ">
    <h2 class="extra">Alle opdrachten</h2>
</div>
<div id='overview'>
    <table>
        <tr>
            <th></th>
            <th>Nr</th>
            <th>Titel</th>
            <th>Opdrachtgever</th>
            <th>Type</th>
            <th>Taak</th>
            <th>Begin</th>
            <th>Einde</th>
        </tr>
        <tr th:each="a : ${assignments}" class="tablebackground">
            <td><a th:href="${'/allassignments/' + a.getAssignmentId()}" class="button">📃</a>
            <td th:text="${a.getAssignmentId()}"></td>
            <td th:text="${a.getTitle()}"></td>
            <td th:text="${a.getAssignerUserId()}"></td>
            <td th:text="${a.getType()}"></td>
            <td th:text="${a.getTask()}" class="cell"></td>
            <td th:text="${a.getStartDate()}"></td>
            <td th:text="${a.getEnd_date()}"></td>
        </tr>
    </table>
</div>
<footer th:insert="fragments/generalMenu.html :: footer">
</footer>
</body>
</html>