<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Alle opdrachten</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header th:insert="fragments/generalMenu.html :: header (name=${name})">
</header>
<div class="container ">
    <h2 class="extra">Alle studenten</h2>
</div>
<div class="container">
    <form th:action='@{/liststudents}' method='POST'>
        <label for='searchbar'>Zoekwaarde: </label>
        <input type='search' class='form-control' name='searchbar' id='searchbar'>
        <input type='SUBMIT' id="zoekKnop" value="Zoek" class="button"/>
    </form>
</div>
<div id='overview'>

    <table>
        <thead>
        <tr>
            <th>Info</th>
            <th>Studenten nummer</th>
            <th>Naam</th>
            <th>Email</th>
            <th>Gsm</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${students}" class="tablebackground">
         <td><a th:href="${'/liststudents/' + a.getStudentennummer()}" class="button">📃</a>
            <td th:text="${a.getStudentennummer()}"></td>
            <td th:text="${a.getUserId()}"></td>
            <td th:text="${a.findEmail()}"></td>
            <td th:text="${a.getGsm()}"></td>

        </tr>
        </tbody>
    </table>
</div>

<footer th:insert="fragments/generalMenu.html :: footer">
</footer>
</body>
</html>
