<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Alle tags</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="/main">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Opdrachten</span>
                                        <div class="dropdown-content">
                                            <a href="/allassignments">Lopende taken</a>
                                            <a href="/assignment">Taak toevoegen</a>
                                            <a href="/myassignments">Mijn taken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="/tag">Tag toevoegen</a>
                                            <a href="/listAllTags">Lijst van tags</a>
                                            <a href="">Archief</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container ">
    <h2 class="extra">Tags bekijken</h2>
</div>
<div id='overview'>
    <table>
        <thead>
        <tr>
            <th style="padding-left: 2.5%">Info</th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${listAllTags}" class="tablebackground">
            <td><a th:href="${'/listAllTags/' + a.tagId}" class="button">📃️</a></td>
            <td id="tagId" th:text="${a.getTagId()}"></td>
            <td id="tagName" th:text="${a.getTagName()}"></td>
            <td id="tagDescription" th:text="${a.getTagDescription()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div th:if="${tags.totalPages !=1}">
        <ul class="pagination">
            <li th:class="${tags.number == 0} ? disabled">
                <a class="pageLink" th:href="@{/listAllTags/(page=${tags.number})}">&laquo;</a>
            </li>
            <li th:class="${tags.number == (page - 1)} ? 'active pointer-disabled'"
                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                <a class="pageLink" th:href="@{/listAllTags/(page=${page})}" th:text="${page}"></a>
            </li>
            <li th:class="${tags.number + 1 == tags.totalPages} ? disabled">
                <a class="pageLink" th:href="@{/listAllTags/(page=${tags.number + 2})}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<div style="height: 45%"></div>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>