<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Alle opdrachten</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="/main">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Opdrachten</span>
                                        <div class="dropdown-content">
                                            <a href="/allassignments">Lopende taken</a>
                                            <a href="/assignment">Taak toevoegen</a>
                                            <a href="/myassignments">Mijn taken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="/tag">Tag toevoegen</a>
                                            <a href="/listAllTags">Lijst van tags</a>
                                            <a href="">Archief</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container ">
    <h2 class="extra">Alle studenten</h2>
</div>
<div class="container">
    <form th:action='@{/liststudents}' method='POST'>
        <label for='searchbar'>Zoekwaarde: </label>
        <input type='search' class='form-control' name='searchbar' id='searchbar'>
        <input type='SUBMIT' id="zoekKnop" value="Zoek" class="button"/>
    </form>
</div>
<div id='overview'>

<table>
        <thead>
        <tr>
            <th>Info</th>
            <th>Studenten nummer</th>
            <th>Naam</th>
            <th>Email</th>
            <th>Gsm</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${students}" class="tablebackground">
         <td><a th:href="${'/liststudents/' + a.getStudentennummer()}" class="button">📃</a>
            <td th:text="${a.getStudentennummer()}"></td>
            <td th:text="${a.getUserId()}"></td>
            <td th:text="${a.findEmail()}"></td>
            <td th:text="${a.getGsm()}"></td>

        </tr>
        </tbody>
    </table>
</div>

<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>