<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Login</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header th:insert="fragments/general.html :: header">
</header>
<div class="block">
    <div class="container">
        <div class="wrap-all col-xs-12 ">
            <h2 class="extra">Log In</h2>
            <p th:if="${loginError}" class="error">Wrong user or password</p>
            <form class="form-signin" name="loginForm" th:action="@{/login}" action="/login" method="post">
                <label for="username">Email: </label>
                <input type="email" name="username" id="username" required="required" autofocus="autofocus">
                <br/><br/>
                <label for="password">Wachtwoord: </label>
                <input type="password" name="password" id="password" required="required">
                <br/><br>
                <button type="submit">Log in</button>
                <br><br>
                <a href="/passwordRecovery">Wachtwoord vergeten?</a>
                <br/>
                <p>Nieuwe gebruiker? Klik <a href="/createexternaluser">hier</a> om u te registreren.</p>
            </form>
        </div>
    </div>
</div>
<div style="height: 37%"></div>
<footer th:insert="fragments/generalMenu.html :: footer">
</footer>
</body>
</html>