<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crediti - Log In</title>
    <link rel="stylesheet" th:href="@{/css/APcss2.css}">
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
    <header>
        <div class="nav-main navbackground">
            <div class="container">
                <div class="wrap-all col-xs-12">
                    <div class="left">
                        <a class="logo" href="">
                            <img th:src="@{/images/logo-ap.svg}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="block">
    <div class="container ">
        <div class="wrap-all col-xs-12 ">
        <h2 class="extra">Log In</h2>
        <form>
    <label for='eMail'>Email: </label>
    <input type='email' name='eMailInput' id='eMail'>
    <br/><br/>
    <label for='password'>Wachtwoord: </label>
    <input type='password' name='passwordInput' id='password'>
    <br/><br>
    <input type='SUBMIT' value='Login' class='button'>
	<br><br>
    <a href="">Wachtwoord vergeten?</a>
    <br/>
    <p>Nieuwe gebruiker? Klik <a href="">hier</a> om u te registreren.</p>
</form>
        </div>
    </div>
</div>
<div style="height: 37%"></div>
    <footer>
        <div class="footer-bot">
            <div class="container">
                <div class="left col-sm-6 col-xs-12">
                    <p>Ontworpen door studenten Toegepaste Informatica</p>
                </div>
                <div class="right col-sm-6 col-xs-12">
                    <p>© 2019 All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>