<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/APcss2.css}">
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">

    <title>Crediti - Mijn opdrachten</title>
</head>
<body class="background">
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="/">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Opdrachten</span>
                                        <div class="dropdown-content">
                                            <a href="/allassignments">Lopende taken</a>
                                            <a href="/assignment">Taak toevoegen</a>
                                            <a href="/myassignments">Mijn taken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="/tag">Tag toevoegen</a>
                                            <a href="">Tag bewerken</a>
                                            <a href="">Archief</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<div class="block">
        <div class="container">
            <h2 class="extra">Mijn opdrachten</h2>
            <p>Lijst van al uw opdrachten. Klik op een opdracht voor meer informatie.</p>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Titel</th>
            </tr>
            <tr th:each="a : ${assignments}" class = "tablebackground">
                <td th:text="${a.getAssignmentId()}"></td>
                <td th:text="${a.getTitle()}"></td>

            </tr>
        </table>
<!--
    <table>
        <tr>
            <th>ID</th>
            <th>Titel</th>
        </tr>
        <tr th:each="f : ${filter}" class = "tablebackground">
            <td th:text="${f.getAssignmentId()}"></td>
            <td th:text="${f.getTitle()}"></td>

        </tr>
    </table>

    <table>
        <tr>
            <th>ID</th>
            <th>Titel</th>
        </tr>
        <tr th:each="u : ${users}" class = "tablebackground">
            <td th:text="${u.getAssignmentId()}"></td>
            <td th:text="${u.getTitle()}"></td>

        </tr>
    </table>-->
</div>

<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>