<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Password recovery</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header th:insert="fragments/general.html :: header">
</header>
<div class="block">
    <div class="container ">
        <div class="wrap-all col-xs-12 ">
            <h2 class="extra">Wachtwoord ophalen</h2>
            <form class="standard-form" th:action='@{/passwordRecovery}' method="POST">
                <label for='eMail'>E-mailadres: </label>
                <input type='email' id='email' name='email'>
                <p>Stuur een email naar dit adres om mijn wachtwoord opnieuw in te stellen.</p>
                <input type='SUBMIT' value='Stuur email' class='button'>
            </form>
        </div>
    </div>
</div>
<div style="height: 41%"></div>
<footer th:insert="fragments/general.html :: footer">
</footer>
</body>
</html>