<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wachtwoord Recovery</title>
    <link rel="stylesheet" th:href="@{/css/APcss2.css}">
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Opdrachten</span>
                                        <div class="dropdown-content">
                                            <a href="/allassignments">Lopende taken</a>
                                            <a href="/assignment">Taak toevoegen</a>
                                            <a href="/myassignments">Mijn taken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="/tag">Tag toevoegen</a>
                                            <a href="/listAllTags">Lijst van tags</a>
                                            <a href="">Archief</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<div class="block">
    <div class="container ">
        <div class="wrap-all col-xs-12 ">
            <h2 class="extra">Wachtwoord ophalen</h2>
            <form class="standard-form" method="POST">
                <label for='eMail'>E-mailadres: </label>
                <input type='email' name='eMailInput' id='eMail'>
                <p>Stuur een email naar dit adres om mijn wachtwoord opnieuw in te stellen.</p>
                <input type='SUBMIT' value='Stuur email' class='button' onclick='notification()'>
            </form>
        </div>
    </div>
    <div class="alert" id="panel">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Email is verstuurd.
    </div>
</div>
<div style="height: 41%"></div>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<script>
    function notification(){
        document.getElementById("panel").style.display = "block";
    }
</script>

</body>
</html>