<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Opdracht bewerken</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="/main">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Student</span>
                                        <div class="dropdown-content">
                                            <a href="/allassignments">Lopende taken</a>
                                            <a href="/assignment">Taak toevoegen</a>
                                            <a href="/myassignments">Mijn taken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="/tag">Tag toevoegen</a>
                                            <a href="/listAllTags">Lijst van tags</a>
                                            <a href="">Archief</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="block">
    <section class="find-edu">
        <div class="container ">
            <div class="wrap-all col-xs-12 ">
                <h2>Detail student</h2>

                <form th:each="a: ${student}" class="standard-form" method="post"
                      th:action="@{/liststudents/{id}(id=${a.studentennummer})}">
                    <br><br>
                    <fieldset disabled="disabled" id="assignmentInfo">
                        <label for="nummer">Studenten nummer:</label>
                        <input name="nummer" id="nummer" type="text" th:value="*{a.getStudentennummer()}" required="required"><br>

                        <label for="Naam">Naam:</label>
                        <input name="Naam" id="Naam" type="text" th:value="*{a.getUserId()}" required="required"><br>

                        <label for="Email">Email:</label>
                        <input name="Email" id="Email" th:value="*{a.findEmail()}" type="text" required="required"><br>

                        <label for="Gsm">Gsm:</label><br>
                        <input name="Gsm" id="Gsm" type="text" th:value="*{a.getGsm()}"
                               required="required"><br>

                        <label for="start_date">Soort:</label><br>
                        <input th:if="${a.isMobility()}" type="text" value="Mobility" >
                           <input th:if="${!a.isMobility()}"  type="text" value="Zap" >

                    
                </form>
            </div>
        </div>
    </section>
</div>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>