<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Tag aanmaken</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body>
<div class="background">
    <header>
        <div class="nav-main navbackground">
            <div class="container">
                <div class="wrap-all col-xs-12">
                    <div class="left">
                        <a class="logo" href="/main">
                            <img th:src="@{/images/logo-ap.svg}">
                        </a>
                    </div>
                    <div class="right">
                        <div class="region-header-menu">
                            <nav>
                                <ul class="nav">
                                    <li>
                                        <div class="dropdown dropdownleft">
                                            <span>Opdrachten</span>
                                            <div class="dropdown-content">
                                                <a href="/allassignments">Lopende taken</a>
                                                <a href="/assignment">Taak toevoegen</a>
                                                <a href="/myassignments">Mijn taken</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <span>Profiel</span>
                                            <div class="dropdown-content">
                                                <a href="">Mijn profiel</a>
                                                <a href="">Mijn portfolio</a>
                                                <a href="">Portfolios</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>Documentatie</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <span>Coördinator</span>
                                            <div class="dropdown-content">
                                                <a href="/tag">Tag toevoegen</a>
                                                <a href="/listAllTags">Lijst van tags</a>
                                                <a href="">Archief</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="block">
        <section class="find-edu">
            <div class="container ">
                <div class="wrap-all col-xs-12 ">
                    <h2>Tag toevoegen</h2>
                    <p th:if="${error}" th:text="${error}">No error</p>
                    <form th:action='@{/tag}' method='POST'>
                        <label for='tagName'>Tag: </label>
                        <input type='text' name='tagName' id='tagName' maxlength="50" placeholder="tagnaam" required>
                        <br/><br/>
                        <label for='tagDescription'>Beschrijving: </label>
                        <input type='text' name='tagDescription' id='tagDescription' maxlength="250"
                               placeholder="korte beschrijving" required>
                        <br/>
                        <input type='submit' value='Voeg toe' class="button">

                    </form>
                </div>
            </div>
            <div class="alert" id="panel">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Tag toegevoegd.
            </div>
        </section>
    </div>
</div>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<script>
    function submission() {
        document.getElementById("panel").style.display = "block";
    }
</script>
</body>
</html>