<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Melding</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header th:insert="fragments/generalMenu.html :: header">
</header>
<div class="block">
    <div class="container extra">
        <h2>De tag is reeds verbonden met één (of meerdere) taak(en).</h2>
    </div>
</div>
<div style="height: 65%"></div>
<footer th:insert="fragments/generalMenu.html :: footer">
</footer>
</body>
</html>