<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Password recovery</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header th:insert="fragments/general.html :: header">
</header>
<div class="block">
    <div class="container ">
        <div class="wrap-all col-xs-12 ">
            <h2 class="extra">Wachtwoord ophalen</h2>
            <a ${successMessage}/>
            <form class="standard-form" th:action='@{/reset}' method='POST'>
                <input type="hidden" name="token" th:value=${resetToken} >
                <label>Nieuw wachtwoord</label>
                <input type="password" name="newpassword" />
                <br>
                <input type="submit" value="Bevestig" class='button' />
            </form>
        </div>
    </div>
</div>
<div style="height: 41%"></div>
<footer th:insert="fragments/general.html :: footer">
</footer>
</body>
</html>