<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Opdracht bewerken</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header th:insert="fragments/generalMenu.html :: header">
</header>
<div class="block">
    <section class="find-edu">
        <div class="container ">
            <div class="wrap-all col-xs-12 ">
                <h2>Opdracht bewerken</h2>

                <form th:each="a: ${assignments}" class="standard-form" method="post"
                      th:action="@{/allassignments/{id}(id=${a.assignmentId})}">

                    <input th:if="${!a.isValidated() and roles}" type="button" value="✏️ BEWERKEN" class="button"
                           onclick="toggleForm();">

                    <input sec:authorize="hasRole('COORDINATOR')" th:if="${a.isValidated()}" type="button"
                           value="✏️ BEWERKEN" class="button"
                           onclick="toggleForm();">

                    <br><br>
                    <fieldset disabled="disabled" id="assignmentInfo">
                        <label for="title">Titel:</label>
                        <input name="title" id="title" type="text" th:value="*{a.getTitle()}" required="required"><br>

                        <label for="type">Type:</label>
                        <select name="type" id="type" required>
                            <option value="" disabled>Kies een type</option>
                            <option value="ZAP">ZAP</option>
                            <option value="Mobility">Mobility</option>
                        </select>

                        <label for="task">Omschrijving opdracht:</label>
                        <input name="task" id="task" th:value="*{a.getTask()}" type="text" required="required"><br>

                        <label for="start_date">Begindatum:</label><br>
                        <input name="start_date" id="start_date" type="date" th:value="*{a.getStartDate()}"
                               required="required"><br>

                        <label for="end_date">Einddatum:</label><br>
                        <input name="end_date" id="end_date" type="date" th:value="*{a.getEnd_date()}"
                               required="required"><br><br>

                        <label for="amountHours">Totaal uur:</label>
                        <input name="amountHours" id="amountHours" type="number" th:value="*{a.getAmountHours()}"
                               min="1" required="required"><br>

                        <label for="maxStudents">Max Studenten:</label>
                        <input name="maxStudents" id="maxStudents" type="number" th:value="*{a.getMaxStudents()}"
                               min="1" required="required"><br>

                        <label>Tags:</label>
                        <ul>
                            <th:block th:each='tag,iter: ${updatetag}'>
                                <label for="tag" th:value="${tag.getTagId()}">
                                    <input th:checked="${status[iter.index]}" type="checkbox" id="tag"
                                           name="tag" th:text='${tag.getTagName()}'
                                           th:value='${tag.getTagId()}'/>
                                </label>

                            </th:block>
                        </ul>
                        <br/>
                    </fieldset>
                    <br/>
                    <input th:if="${!a.isValidated()}" type="submit" value="💾 BEWAREN" class="button"
                           style="visibility: hidden;" id="save"
                           disabled>

                    <input sec:authorize="hasRole('COORDINATOR')" th:if="${a.isValidated()}" type="submit"
                           value="💾 BEWAREN" class="button">

                    <a sec:authorize="hasRole('STUDENT')"
                       th:if="${a.isValidated()} and ${!ingeschreven} and ${!volzet}"
                       th:href="@{/studentenroll/{id} (id=${a.assignmentId})}"
                       class="button">➕ Inschrijven</a>

                    <a th:if="${!a.isValidated() and status}"
                       th:href="@{/deleteassignment/{id} (id=${a.assignmentId})}" class="button">🗑️ VERWIJDEREN</a>

                    <a sec:authorize="hasRole('COORDINATOR')" th:if="${a.isValidated()}"
                       th:href="@{/deleteassignment/{id} (id=${a.assignmentId})}" class="button">🗑️ VERWIJDEREN</a>

                    <a sec:authorize="hasRole('COORDINATOR')"
                       th:if="${!a.isValidated()}" th:href="@{/validateassignment/{id} (id=${a.assignmentId}}"
                       class="button">✔️ VALIDEREN</a>

                    <a sec:authorize="hasRole('COORDINATOR')"
                       th:if="${a.isValidated()}" th:href="@{/archiveassignment/{id} (id=${a.assignmentId})}"
                       class="button">🗄️ ARCHIVEREN</a>
                </form>
            </div>
        </div>
    </section>
</div>
<footer th:insert="fragments/generalMenu.html :: footer">

</footer>
<script>
    SelectElement("type", getType);

    function SelectElement(id, getType) {
        if (getType != null) {
            var element = document.getElementById(id);
            element.value = getType;
        }else {
            var element = document.getElementById(id);
            element.value = "";
        }
    }

    function toggleForm() {
        document.getElementById('assignmentInfo').removeAttribute('disabled');
        document.getElementById("save").disabled = false;
        document.getElementById("save").style.visibility = "visible";
    }

    const numInputs = document.querySelectorAll('input[type=number]');

    numInputs.forEach(function (input) {
        input.addEventListener('change', function (e) {
            if (e.target.value == '') {
                e.target.value = 0
            }
        })
    });

    function TDate() {
        var startDate = document.getElementById("start_date").value;
        var endDate = document.getElementById("end_date").value;
        if (startDate != null && endDate != null) {
            if (startDate >= endDate) {
                alert("De startdatum moet kleiner zijn dan de einddatum van uw opdracht!");
                document.getElementById('end_date').value = "";
                return false;
            }
            return true;
        }
    }

    function SDate() {
        var startDate = document.getElementById("start_date").value;
        var currentDate = new Date().toISOString().split('T')[0];

        if (startDate != null) {
            if (startDate < currentDate) {
                alert("De startdatum moet groter of gelijk zijn aan de datum van vandaag!");
                document.getElementById('start_date').value = "";
                return false;
            }
            return true
        }
    }
</script>
</body>
</html>