<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Opdracht bewerken</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="/main">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Opdrachten</span>
                                        <div class="dropdown-content">
                                            <a href="/allassignments">Lopende taken</a>
                                            <a href="/assignment">Taak toevoegen</a>
                                            <a href="/myassignments">Mijn taken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="/tag">Tag toevoegen</a>
                                            <a href="/listAllTags">Lijst van tags</a>
                                            <a href="/archive">Archief</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="block">
    <section class="find-edu">
        <div class="container ">
            <div class="wrap-all col-xs-12 ">
                <h2>Opdracht bewerken</h2>

                <form th:each="a: ${assignments}" class="standard-form" method="post"
                      th:action="@{/allassignments/{id}(id=${a.assignmentId})}">
                    <input th:if="${!a.isValidated()}" type="button" value="✏️ BEWERKEN" class="button"
                           onclick="toggleForm();">
                    <br><br>
                    <fieldset disabled="disabled" id="assignmentInfo">
                        <label for="title">Titel:</label>
                        <input name="title" id="title" type="text" th:value="*{a.getTitle()}" required="required"><br>

                        <label for="type">Type:</label>
                        <input name="type" id="type" type="text" th:value="*{a.getType()}" required="required"><br>

                        <label for="task">Omschrijving opdracht:</label>
                        <input name="task" id="task" th:value="*{a.getTask()}" type="text" required="required"><br>

                        <label for="start_date">Begindatum:</label><br>
                        <input name="start_date" id="start_date" type="date" th:value="*{a.getStartDate()}"
                               required="required"><br>

                        <label for="end_date">Einddatum:</label><br>
                        <input name="end_date" id="end_date" type="date" th:value="*{a.getEnd_date()}"
                               required="required"><br><br>

                        <label for="amountHours">Totaal uur:</label>
                        <input name="amountHours" id="amountHours" type="number" th:value="*{a.getAmountHours()}"
                               min="1" required="required"><br>

                        <label for="maxStudents">Max Studenten:</label>
                        <input name="maxStudents" id="maxStudents" type="number" th:value="*{a.getMaxStudents()}"
                               min="1" required="required"><br>

                        <table class="tagsAssignments">
                            <tr>
                                <th>Tags</th>
                            </tr>
                            <tr>
                                <td>
                                    <th:block th:each='tag: ${updatetag}'>
                                        <input type="checkbox" id="tag" name="tag" th:tr='${tag.getTagName()}'
                                               th:value='${tag.getTagId()}'/>
                                        <label for="tag" th:text='${tag.getTagName()}'></label>
                                    </th:block>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <br/>
                    <input th:if="${!a.isValidated()}" type="submit" value="💾 BEWAREN" class="button" style="visibility: hidden;" id="save"
                           disabled>

                    <a th:if="${a.isValidated()}" th:href="@{/studentenroll/{id} (id=${a.assignmentId})}"
                       class="button">➕ Inschrijven</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{/deleteassignment/{id} (id=${a.assignmentId})}" class="button">🗑️ VERWIJDEREN</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:if="${!a.isValidated()}" th:href="@{/validateassignment/{id} (id=${a.assignmentId})}"
                       class="button">✔️ VALIDEREN</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{/archiveassignment/{id} (id=${a.assignmentId})}" class="button">🗄️ ARCHIVEREN</a>
                </form>
            </div>
        </div>
    </section>
</div>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<script>
    function toggleForm() {
        document.getElementById('assignmentInfo').removeAttribute('disabled');
        document.getElementById("save").disabled = false;
        document.getElementById("save").style.visibility = "visible"
    }

    const numInputs = document.querySelectorAll('input[type=number]')

    numInputs.forEach(function (input) {
        input.addEventListener('change', function (e) {
            if (e.target.value == '') {
                e.target.value = 0
            }
        })
    });

    function TDate() {
        var startDate = document.getElementById("start_date").value;
        var endDate = document.getElementById("end_date").value;
        if (startDate != null && endDate != null) {
            if (startDate >= endDate) {
                alert("De startdatum moet kleiner zijn dan de einddatum van uw opdracht!");
                document.getElementById('end_date').value = "";
                return false;
            }
            return true;
        }
    }

    function SDate() {
        var startDate = document.getElementById("start_date").value;
        var currentDate = new Date().toISOString().split('T')[0];

        if (startDate != null) {
            if (startDate < currentDate) {
                alert("De startdatum moet groter of gelijk zijn aan de datum van vandaag!");
                document.getElementById('start_date').value = "";
                return false;
            }
            return true
        }
    }
</script>
</body>
</html>