<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crediti - Opdracht bewerken</title>
    <link rel="stylesheet" th:href="@{/css/APcss2.css}">
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header>
    <div class="nav-main navbackground">
        <div class="container">
            <div class="wrap-all col-xs-12">
                <div class="left">
                    <a class="logo" href="/">
                        <img th:src="@{/images/logo-ap.svg}">
                    </a>
                </div>
                <div class="right">
                    <div class="region-header-menu">
                        <nav>
                            <ul class="nav">
                                <li>
                                    <div class="dropdown dropdownleft">
                                        <span>Opdrachten</span>
                                        <div class="dropdown-content">
                                            <a href="/allassignments">Lopende taken</a>
                                            <a href="/assignment">Taak toevoegen</a>
                                            <a href="/myassignments">Mijn taken</a>
                                            <a href="">Taak bewerken</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Profiel</span>
                                        <div class="dropdown-content">
                                            <a href="">Mijn profiel</a>
                                            <a href="">Mijn portfolio</a>
                                            <a href="">Portfolios</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Documentatie</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <span>Coördinator</span>
                                        <div class="dropdown-content">
                                            <a href="/tag">Tag toevoegen</a>
                                            <a href="">Tag bewerken</a>
                                            <a href="">Archief</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<div class="block">
    <section class="find-edu">
        <div class="container ">
            <div class="wrap-all col-xs-12 ">
                <h2>Opdracht bewerken</h2>



                <form th:each="a: ${assignments}" class="standard-form">
                    <fieldset disabled="disabled" id="assignmentInfo">
                        <label for="title">Titel:</label>
                        <input name="title" id="title" type="text" th:value="*{a.getTitle()}"><br>

                        <label for="type">Type:</label>
                        <input name="type" id="type" type="text" th:value="*{a.getType()}"><br>

                        <label for="summary">Omschrijving opdracht:</label>
                        <input name="summary" id="summary" th:value="*{a.getTask()}"><br>

                        <label for="start_date">Begindatum:</label><br>
                        <input name="start_date" id="start_date" type="date" th:value="*{a.getStart_date()}"><br>

                        <label for="end_date">Einddatum:</label><br>
                        <input name="end_date" id="end_date" type="date" th:value="*{a.getEndDate()}"><br><br>

                        <label for="totaal_uur">Totaal uur:</label>
                        <input name="totaal_uur" id="totaal_uur" type="text" th:value="*{a.getAmountHours()}"><br>

                        <label for="max_students">Max Studenten:</label>
                        <input name="max_students" id="max_students" type="text" th:value="*{a.getMaxStudents()}"><br>

                        <table class="tags">
                            <tr>
                                <th>Tags</th>
                            </tr>
                            <tr>
                                <td>
                                    <th:block th:each="tag : ${updatetag}">
                                        <input type="checkbox" id="tagCheckBox"/>
                                        <label for="tagCheckBox" th:text="${tag.getTag_name()}"></label>
                                    </th:block>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <br/>
                    <input type="button" value = "✏️OPDRACHT BEWERKEN" class = "button" onclick="toggleForm();">
                    &nbsp;&nbsp;&nbsp;
                    <input type="submit" value = "💾 AANPASSINGEN BEWAREN" class="button" id="save" style="visibility: hidden;">
                </form>
            </div>
        </div>
    </section>
</div>
<footer>
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<script>
    function toggleForm() {
        document.getElementById('assignmentInfo').removeAttribute('disabled');
        document.getElementById("save").style.visibility="visible";;
    }
</script>
</body>
</html>

