<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Crediti - Upload documentatie</title>
        <link rel="stylesheet" href="/css/APcss3.css" />
    </head>
    <body>
    <div class="background">
        <header th:insert="fragments/generalMenu.html :: header">
        </header>
        <div class="upload-container">
            <div class="upload-header">
                <h2>Upload files naar jouw portfolio</h2>
            </div>
            <div class="upload-content">
                <div class="multiple-upload">
                    <h3 class="upload-title">Upload de documentatie</h3>
                    <form id="multipleUploadForm" name="multipleUploadForm" th:action="@{/uploaddocumentation}" method="POST" enctype="multipart/form-data">
                        <input id="multipleFileUploadInput" type="file" name="files" class="file-input" multiple required />
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <footer>
            <div class="footer-bot">
                <div class="container">
                    <div class="left col-sm-6 col-xs-12">
                        <p>Ontworpen door studenten Toegepaste Informatica</p>
                    </div>
                    <div class="right col-sm-6 col-xs-12">
                        <p>© 2019 All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>