<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Verificatie</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body class="background">
<header th:insert="fragments/general.html :: header">
</header>
<div class="block">
    <div class="container ">
        <div class="wrap-all col-xs-12 ">
            <h2 class="extra">Wachtwoord recovery</h2>
            <div th:if="${succes}">
                <div>
                    <td th:text='${succes}'/>
                </div>
            </div>
            <div th:unless="${succes}">
                <div>
                    <td th:text='${fail}'/>
                    <a th:href="@{'/passwordRecovery'}"/>Klik hier om opnieuw te proberen.
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 67%"></div>
<footer th:insert="fragments/general.html :: footer">
</footer>
</body>
</html>