<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <title>Crediti - Tag aanmaken</title>

</head>

<body class="bg">

    <header th:insert="fragments/generalMenu.html :: header">
    </header>

    <main role="main" class="container">
        <div class="text-center mt-5 mb-5 jumbotron">
            <h1>Tag bewerken</h1>

            <form th:each="t: ${tags}" class="text-center form-signin" th:action="@{/listAllTags/{id}(id=${t.tagId})}" method="POST">
                <div class="form-group">
                    <fieldset id="tagInfo" disabled>
                        <div>
                            <label for="tagName">Tag:</label>
                            <input type="text" class="form-control" th:value="*{t.getTagName()}" name="tagName" id="tagName" maxlength="50" required>
                        </div>

                        <div>
                            <label class="mt-2" for="tagDescription">Beschrijving:</label>
                            <input type="text" class="form-control" th:value="*{t.getTagDescription()}" name="tagDescription" id="tagDescription" maxlength="250" required>
                        </div>
                    </fieldset>

                    <a onclick="toggleForm();" class="mt-3 btn btn-outline-secondary" role="button">✏️ Bewerk</a>
                    <a th:href="@{/deletetag/{id}(id=${t.tagId})}" class="mt-3 btn btn-outline-danger" role="button">🗑️ Verwijderen</a>
                    <button type="submit" class="mt-2 btn btn-outline-success" id="save" style="visibility: hidden;">💾 Bewaren</button>

                </div>
            </form>
        </div>
        </div>

    </main>
    <!-- /.container -->

    <footer th:insert="fragments/general.html :: footer">
    </footer>

    <!-- Optional JavaScript -->
    <script>
        function toggleForm() {
            document.getElementById('tagInfo').removeAttribute('disabled');
            document.getElementById("save").style.visibility = "visible"
        }
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>