<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

    <title>Crediti - Thuispagina</title>

</head>

<body class="background">
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-nav static-top">
            <a href="main"><img th:src="@{/images/logo-ap.svg}"></a>
            <!--todo link to /main-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">

                    <!-- OPDRACHTEN-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="assignments" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opdrachten</a>
                        <div class="dropdown-menu" aria-labelledby="assignments">
                            <a class="dropdown-item" sec:authorize="!hasRole('EXTERNE')" href="/allassignments">Lopende Opdrachten</a>
                            <a class="dropdown-item" href="/assignment">Opdracht Toevoegen</a>
                            <a class="dropdown-item" sec:authorize="hasRole('STUDENT')" href="/myassignments">Ingeschreven Opdrachten</a>
                        </div>
                    </li>

                    <!--DOCUMENTATIE-->
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="!hasRole('EXTERNE')" href="/documentation">Documentatie</a>
                    </li>

                    <!--EXTRA's-->
                    <li sec:authorize="hasAnyRole('COORDINATOR','DOCENT')" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="extras" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Extra's</a>
                        <div class="dropdown-menu" aria-labelledby="extras">
                            <a class="dropdown-item" sec:authorize="hasRole('COORDINATOR')" href="/tag">Tag Toevoegen</a>
                            <a class="dropdown-item" sec:authorize="hasRole('COORDINATOR')" href="/listAllTags">Lijst van Tags</a>
                            <a class="dropdown-item" sec:authorize="hasRole('COORDINATOR')" href="/unvalidatedassignments">Ongevalideerde Opdrachten</a>
                            <a class="dropdown-item" sec:authorize="hasRole('COORDINATOR')" href="/listUnvalidatedExternal">Ongevalideerde Externe</a>
                            <a class="dropdown-item" sec:authorize="hasAnyRole('COORDINATOR','DOCENT')" href="/liststudents">Alle Studenten</a>
                            <a class="dropdown-item" sec:authorize="hasRole('COORDINATOR')" href="/archive">Archief</a>
                            <a class="dropdown-item" sec:authorize="hasAnyRole('COORDINATOR','DOCENT')" href="/unapprovedEnrollments">Ongevalideerde Inschrijvingen</a>
                        </div>
                    </li>


                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <img class="img-user pr-1 mt-1" th:src="@{/images/user.svg}">
                        <a class="mr-3 nav-link dropdown-toggle img-link" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${name}"></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile">
                            <a class="dropdown-item" href="/main">Mijn startpagina</a>
                            <a class="dropdown-item" sec:authorize="hasRole('EXTERNE')" href="/externalUserProfile">Mijn profiel</a>
                            <a class="dropdown-item" sec:authorize="hasRole('STUDENT')" href="/studentProfile">Mijn profiel</a>
                            <a class="dropdown-item" sec:authorize="hasRole('STUDENT')" href="/portfolio">Mijn portfolio</a>
                            <a class="dropdown-item" href="/logout">Log uit</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span>Ontworpen door studenten Toegepaste Informatica. © 2019 All rights reserved.</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>