<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Crediti - Thuispagina</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<body>
<div class="background">
    <header th:fragment="header">
        <div class="nav-main navbackground">
            <div class="container">
                <div class="wrap-all col-xs-12">
                    <div class="left">
                        <a class="logo" href="/main">
                            <img th:src="@{/images/logo-ap.svg}">
                        </a>
                    </div>
                    <div class="right">
                        <div class="region-header-menu">
                            <nav>
                                <ul class="nav">
                                    <li>
                                        <div class="dropdown dropdownleft">
                                            <span>Opdrachten</span>
                                            <div class="dropdown-content">
                                                <a sec:authorize="!hasRole('EXTERNE')" href="/allassignments">Lopende taken</a>
                                                <a href="/assignment">Taak toevoegen</a>
                                                <a href="/myassignments">Mijn taken</a>
                                                <a sec:authorize="hasAnyRole('DOCENT', 'COORDINATOR')" href="/allFullAssignments">Volzette opdrachten</a>

                                            </div>
                                        </div>
                                    </li>
                                    <li sec:authorize="!hasRole('DOCENT')">
                                        <div class="dropdown">
                                            <span>Profiel</span>
                                            <div class="dropdown-content">
                                                <a sec:authorize="hasRole('EXTERNE')" href="/externalUserProfile">Mijn profiel</a>
                                                <a sec:authorize="hasRole('STUDENT')" href="/">Mijn profiel TODO</a> <!--todo: add link-->
                                                <a sec:authorize="hasRole('STUDENT')" href="/portfolio">Mijn portfolio</a>
                                                <a sec:authorize="hasRole('COORDINATOR')" href="">Portfolios TODO</a><!--todo: add link-->
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a sec:authorize="!hasRole('EXTERNE')" href="/documentation">
                                            <span>Documentatie</span>
                                        </a>
                                    </li>
                                    <li sec:authorize="hasRole('COORDINATOR')">
                                        <div class="dropdown">
                                            <span>Coördinator</span>
                                            <div class="dropdown-content">
                                                <a href="/tag">Tag toevoegen</a>
                                                <a href="/listAllTags">Lijst van tags</a>
                                                <a href="/listUnvalidatedExternal">Ongevalideerde Externe</a>
                                                <a href="/listStudents">Alle Studenten</a>
                                                <a href="/archive">Archief</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="block">
        <section class="find-edu">
            <div class="container ">
                <div class="wrap-all col-xs-6 extra">
                    <h2>Startpagina</h2>
                </div>
            </div>
        </section>
    </div>
</div>
<footer th:fragment="footer">
    <div class="footer-bot">
        <div class="container">
            <div class="left col-sm-6 col-xs-12">
                <p>Ontworpen door studenten Toegepaste Informatica</p>
            </div>
            <div class="right col-sm-6 col-xs-12">
                <p>© 2019 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>