<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Crediti - Alle opdrachten</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body class="background">
    <header th:insert="fragments/generalMenu_old.html :: header (name=${name})"></header>
    <div class="container ">
        <h2 class="extra">Alle opdrachten</h2>
    </div>
        <div class="container">
    <form th:action="@{'/allassignmentss/'${searchbar}'/'${tag}'}" method="GET" id="searchAs" style="padding-top: 10px;">
        <label for='searchbar'>Zoekwaarde: </label>
        <input type='text' class='form-control' name='searchbar' id='searchbar'>&nbsp;&nbsp;&nbsp;&nbsp;
        <tr th:each="a,iter : ${tags}" >
            <input th:checked="${status[iter.index]}" type="checkbox" name="tag" id ='tag' th:tr='${a.getTagName()}' th:value='${a.getTagId()}'/>
            <label th:text="${a.getTagName()}"></label>
        </tr>
        <input style="margin-right:20px;" type='SUBMIT' id="zoekKnop" value="Zoek" class="button" onclick = "search()"/>
        </form>

</div>
    <div id='overview'>
        <table>
            <thead>
                <tr>
                    <th style="padding-left: 2.5%">Info</th>
                    <th>Nr</th>
                    <th>Opdrachtgever</th>
                    <th>Type</th>
                    <th>Naam</th>
                    <th>Begin</th>
                    <th>Einde</th>
                    <th>Aantal uren</th>
                    <th>Gevalideerd</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="a : ${assignments}" class="tablebackground" th:if="${!a.isArchived()}">
                    <td><a th:href="${'/allassignments/detail/' + a.getAssignmentId()}" class="button">📃</a>
                        <td th:text="${a.getAssignmentId()}"></td>
                        <td th:text="${a.getAssigner()}"></td>
                        <td th:text="${a.getType()}"></td>
                        <td th:text="${a.getTitle()}" class="cell"></td>
                        <td th:text="${a.getFormatStartDate()}"></td>
                        <td th:text="${a.getFormatEndDate()}"></td>
                        <td style="padding-left: 3.8%" th:text="${a.getAmountHours()}"></td>
                        <td style="padding-left: 2.5%">
                            <span th:if="${a.isValidated()}">✔️</span>
                            <span th:unless="${a.isValidated()}">❌</span>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div th:if="${persons.totalPages !=1}">
            <ul class="pagination">
                <li th:class="${persons.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{__${#httpServletRequest.requestURL}__(page=${persons.number})}">&laquo;</a>
                </li>
                <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="pageLink" th:href="@{__${#httpServletRequest.requestURL}__(page=${page})}" th:text="${page}"></a>
                </li>
                <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                    <a class="pageLink" th:href="@{__${#httpServletRequest.requestURL}__(page=${persons.number + 2})}">&raquo;</a>
                </li>
            </ul>
        </div>
</div>
<script>

function search(){
    var id = document.getElementById('searchbar').value;

    var coffee = document.forms[0];
    var item = new Array(coffee.length);
    document.getElementById('searchAs').action  = '/allassignments/'+id ;
    var txt ="";
    var i;
    for (i = 0; i < coffee.length; i++) {
        if (coffee[i].checked) { 
        item.push(coffee[i].value);
        }
    }
    item.forEach(function(element) {
        txt = txt + "&" + element;
    });
    document.getElementById('searchbar').value = "";
    if(id != "" && txt != ""){
    document.getElementById('searchAs').action  = '/allassignments/'+id + "/" + txt;
    } 
    else if(id == ""){
        document.getElementById('searchAs').action  = '/allassignments/tag/' + txt;
    }
    else if (txt = ""){
        document.getElementById('searchAs').action  = '/allassignments/'+id;
    }
      

    
}

</script>
    <footer th:insert="fragments/generalMenu.html :: footer"></footer>
</body>

</html>