<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Crediti - Alle opdrachten</title>
    <link rel="stylesheet" th:href="@{/css/APcss3.css}">
</head>

<body class="background">
    <header th:insert="fragments/generalMenu_old.html :: header (name=${name})"></header>
    <div class="container ">
        <h2 class="extra">Alle opdrachten</h2>
    </div>
    <div class="container">
        <form th:action='@{/allassignments}' method='POST' style="padding-top: 10px;">
            <label for='searchbar'>Zoekwaarde: </label>
            <input type='search' class='form-control' name='searchbar' id='searchbar'>&nbsp;&nbsp;&nbsp;&nbsp;
            <tr th:each="a : ${tags}">
                <input type="checkbox" name="tag" th:tr='${a.getTagName()}' th:value='${a.getTagId()}' />
                <label th:text="${a.getTagName()}"></label>
            </tr>
            <input style="margin-right:20px;" type='SUBMIT' id="zoekKnop" value="Zoek" class="button" />
        </form>
    </div>
    <div id='overview'>
        <table>
            <thead>
                <tr>
                    <th style="padding-left: 2.5%">Info</th>
                    <th>Nr</th>
                    <th>Opdrachtgever</th>
                    <th>Type</th>
                    <th>Naam</th>
                    <th>Begin</th>
                    <th>Einde</th>
                    <th>Aantal uren</th>
                    <th>Gevalideerd</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="a : ${assignments}" class="tablebackground" th:if="${!a.isArchived()}">
                    <td><a th:href="${'/allassignments/' + a.getAssignmentId()}" class="button">📃</a>
                        <td th:text="${a.getAssignmentId()}"></td>
                        <td th:text="${a.getAssigner()}"></td>
                        <td th:text="${a.getType()}"></td>
                        <td th:text="${a.getTitle()}" class="cell"></td>
                        <td th:text="${a.getFormatStartDate()}"></td>
                        <td th:text="${a.getFormatEndDate()}"></td>
                        <td style="padding-left: 3.8%" th:text="${a.getAmountHours()}"></td>
                        <td style="padding-left: 2.5%">
                            <span th:if="${a.isValidated()}">✔️</span>
                            <span th:unless="${a.isValidated()}">❌</span>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div th:if="${persons.totalPages !=1}">
            <ul class="pagination">
                <li th:class="${persons.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/allassignments/(page=${persons.number})}">&laquo;</a>
                </li>
                <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'" th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="pageLink" th:href="@{/allassignments/(page=${page})}" th:text="${page}"></a>
                </li>
                <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                    <a class="pageLink" th:href="@{/allassignments/(page=${persons.number + 2})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <footer th:insert="fragments/generalMenu.html :: footer"></footer>
</body>

</html>